  
       head {
            box-sizing: border-box;
            }
  /* ini Style headernya */
        header {
            background-image: url("Banner D3M4O.jpg");
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;
            padding: 70px;
               }
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
 nav {
	background-color:#FF0000; 
	height:50px; 
	line-height:50px; 
	position:relative;
	width:1310px;
	margin:auto;
	margin-top:5px;
}

nav ul {
	list-style:none;
}
nav ul li a {
	float:left; 
	width:175px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
}

nav ul li a:hover {
	background-color:#00008B; 
	display:block;
}

nav ul li:hover ul {
	display:block;
}
nav ul ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#FF0000;
	left:300px; 
	top:50px; 
	width:190px;
}

nav ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:160px;
}

nav ul ul li a:hover {
	color:#990;
}
       
        
        nav a
        {
            color: white;
        }
 
        article {
            float: left;
            padding: 50px;
            width:100%;
            background-color: #f1f1f1;
            height: 600px;
            /* hanya untuk contoh saja */
        }
 
        /* Clear floats after the columns */
        section:after {
            content: "";
            display: table;
            clear: both;
        }
 
        /* Style the footer */
        footer {
            background-color: green;
            padding: 5px;
            text-align: center;
            color: white;
        }
 
        /* Responsive layout - buat 2 kolom/kotak */
        @media (max-width: 600px) {
 
            nav,
            article {
                width: 100%;
                height: auto;
            }
        }
   
